@model Web_Application.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    body {
        background-color: #EFEFEF;
        /*background-image: url(../../images/accountantTHEME.jpg);*/
        background-size: cover;
        overflow-y: hidden;
        min-height: 100vh;
    }

    #saleD {
        color: #000000;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        
    }
    img{
        width:400px;
        margin-right:100px;
    }
</style>

<!--New form-->
<div style="height: 100vh; " class="d-flex justify-content-center align-items-center">

    <section>
        <div class="form-control d-flex  shadow-lg p-5 mb-5 bg-white rounded-4  ">
            <div>
                <img src="~/images/register.png" class="img-fluid d-none d-md-block pr-5" alt="Alternate Text" />
            </div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="bg-white">
                    <div class="mb-3 text-center">
                        <h1 id="saleD" class="text-success">Register New User</h1>
                        <p class="fst-italic">Please remember your username and password</p>
                    </div>
                    <div >
                        <div class="mb-3 ">
                            <label for="exampleInputEmail1" class="form-label ">Username</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-5">
                            <label for="exampleInputEmail1" class="form-label">Comfirm-Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success w-100">COMFIRM</button>
                </div>
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
